*,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jura', sans-serif;
}

h4 {
    margin: 0px;
}

.header-menu {
    float: left;
    padding: 15px 15px;
    font-size: 28px;
    color: #fff;
}

.header-center {
    padding: 5px 5px;
}

.navbar-brand {
    font-size: 28px;
}

.navbar-toggle {
    padding: 5px 5px;
    float: left;
    left: 10px;
}

.navbar-collapse.pull-left+.navbar-custom-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 28px;
}

.fixed-footer {
    height: 50px;
}

.menu-footer {
    color: #333333;
    font-size: 20px;
}

.btn-social>:first-child {
    width: 25px;
    height: 25px;
    border-right: none;
    top: 4px;
    left: 6px;
}

.btn-login {
    color: #323232;
    background-color: #fdfdfd;
    border-color: #4cd964;
}

.btn-login {
    color: #323232;
    background-color: #fdfdfd;
    border-color: #4cd964;
    color: #323232;
    background-color: #fdfdfd;
    border-color: #323232;
}

.btn-login:hover {
    background-color: #f3f3f3;
}

.btn-login:active {
    background-color: #f3f3f3;
}

img {
    object-fit: cover;
    display: inline;
}

.img-even {
    height: 80px;
    width: 100%;
    border-radius: 15px;
}

.box {
    border-top: none;
    border-radius: 15px;
    box-shadow: 6px 6px 6px 2px rgba(0, 0, 0, .1);
    margin-bottom: 15px;
}

.box-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.a_black,
.a_black:hover,
.a_black:active,
.a_black:focus {
    outline: none;
    text-decoration: none;
    color: #333;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #ffffff;
}

.main-footer-login {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}