*,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jura', sans-serif;
}

.main-header {
    position: fixed;
    width: 100%;
    margin-top: -5px;
    line-height: 40px;
}

.header-center {
    padding: 5px 5px;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-toggle {
    padding: 5px 5px;
    float: left;
    left: 10px;
}

.navbar-collapse.pull-left+.navbar-custom-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 25px;
}

.fixed-footer {
    height: 50px;
}

.menu-footer {
    color: #333333;
    font-size: 20px;
}

.btn-social>:first-child {
    width: 25px;
    height: 25px;
    border-right: none;
    top: 4px;
    left: 6px;
}

.btn-login {
    color: #323232;
    background-color: #fdfdfd;
    border-color: #4cd964;
}

.btn-login {
    color: #323232;
    background-color: #fdfdfd;
    border-color: #4cd964;
    color: #323232;
    background-color: #fdfdfd;
    border-color: #323232;
}

.btn-login:hover {
    background-color: #f3f3f3;
}

.btn-login:active {
    background-color: #f3f3f3;
}

img {
    object-fit: cover;
    display: inline;
}

.img-even {
    height: 80px;
    width: 100%;
    border-radius: 15px;
}

.box {
    border-top: none;
    border-radius: 15px;
}

.box-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.a_black,
.a_black:hover,
.a_black:active,
.a_black:focus {
    outline: none;
    text-decoration: none;
    color: #333;
}